<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KDSP.Properties.Settings.TestConnectionString" connectionString="Data Source=.;Initial Catalog=KDSP;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient" />
    <add name="KDSPEntities" connectionString="metadata=res://*/KDSPModel.csdl|res://*/KDSPModel.ssdl|res://*/KDSPModel.msl;provider=System.Data.SqlClient;provider connection string='data source=.;initial catalog=KDSP;integrated security=True;multipleactiveresultsets=False;connect timeout=30;trustservercertificate=False;application name=&quot;Microsoft SQL Server Data Tools, Create Project&quot;'" providerName="System.Data.EntityClient" /></connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>